@mixin main-text($size: 18px, $weight: 400, $line-height: normal, $color: $gray-100) {
    font-size: $size;
    font-weight: $weight;
    line-height: $line-height;
    color: $color;
  }
  
  @mixin direction($display: flex, $justify-content: initial, $align-items: null, $flex-direction: null, $flex-wrap: null) {
    display: $display;
    @if $justify-content != null {
      justify-content: $justify-content;
    }
    @if $align-items != null {
      align-items: $align-items;
    }
    @if $flex-direction != null {
      flex-direction: $flex-direction;
    }
    @if $flex-wrap != null {
      flex-wrap: $flex-wrap;
    }
  }
  
  @mixin element-to-center {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
  }
  
  @mixin position($position: initial, $top: initial, $right: initial, $bottom: initial, $left: initial) {
    position: $position;
    top: $top;
    right: $right;
    bottom: $bottom;
    left: $left;
  }