$white: #fff;
$black: #000;
$greyDark: #383838;
$blue-link: #2E73DC;
$accent: #44BFC7;
$gray-100: #3E494A;
$gray-200: #849090;
$gray-300: #B1BEBF;
$gray-400: #EEF1F1;
$gray-500: #FAFAFA;
$favorite: #F66792;
$basket: #D35555;
$red-destructive: #DA0606;
$blue-status: #5E99F1;
$orange-status: #FCA600;
$green-accept: #52C340; 
