.home__header {
    @include direction(flex, center, center, null, null);
    margin-bottom: 8px;
}


.home__title {
    @include main-text(16px, 700);
    font-style: normal;
    text-align: center;
    width: 100%;
}
// CATEGORIES
.home__categories {
    @include direction(flex, space-between, center, null, null);
    padding: 12px 0px;
    margin-bottom: 8px;
    & > a {
        color: $blue-link;
    }
}

.home__categories-list {
    position: relative;
    overflow: scroll;
    height: 80px;
    width: inherit;
    @include direction(flex, flex-start, center, null, null);
    margin-bottom: 24px;
}

.home__categories-list_item {
    @include direction(flex, center, center, column, null);
    @include main-text(12px, 700, normal);
    min-width: 80px; 
    max-width: 80px;
    height: 80px;
    padding: 18.5px 14px;
    background-color: $gray-500;
&:not(:last-child) {
    margin-right: 15px;
}
& > img {
    width: 24px;
    margin-bottom: 8px;
}
}
